/**
 * The footer component of the main stylesheet.
 *
 * /css/footer.scss is included in /style.css
 */

.site-footer {
    font-size: 0.875rem;
    margin-top: 1rem;
    color: $color-text-footer;

    clear: both;
    display: block;

    .site-info {
        border-top: 1px solid #dbdbdb;
        padding: 1rem 0;

        .footer-attribution {
            float: left;
        }

        .footer-copyright {
            float: right;
            text-align: right;
        }
    }
}