/**
 * Theme Name: MySLP Basic
 * Theme URI: https://www.storelocatorplus.com/
 * Author: CyberSprocket
 * Author URI: http://cybersprocket.com
 * Description: MySLP Basic a simple WordPress site theme for deploying MySLP.
 * Version: 1.0-beta-1
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags: basic, map, locator
 * Text Domain: myslp-basic
 *
 * A very objectified theme.
 * Should only require mostly changes to class names to morph into a completely new theme.
 */
/**
 * The white and gray color palette for components.
 *
 * /css/include/palette/white_and_gray.scss is included in /style.css
 */
/**
 * The header component of the main stylesheet.
 *
 * /css/header.scss is included in /style.css
 */
/**
 * The main body component of the main stylesheet.
 *
 * /css/content.scss is included in /style.css
 */
.content-area {
  margin-top: 1rem; }

/**
 * The footer component of the main stylesheet.
 *
 * /css/footer.scss is included in /style.css
 */
.site-footer {
  font-size: 0.875rem;
  margin-top: 1rem;
  color: #717171;
  clear: both;
  display: block; }
  .site-footer .site-info {
    border-top: 1px solid #dbdbdb;
    padding: 1rem 0; }
    .site-footer .site-info .footer-attribution {
      float: left; }
    .site-footer .site-info .footer-copyright {
      float: right;
      text-align: right; }

/*# sourceMappingURL=style.css.map */
