/**
 * The white and gray color palette for components.
 *
 * /css/include/palette/white_and_gray.scss is included in /style.css
 */

// Color Palette
$color-baseline-light: #717171;     // 20% lightened
$color-baseline-very-light: #DBDBDB;

// Element Named Colors
//
$color-border-top-footer: $color-baseline-very-light;

$color-text-footer: $color-baseline-light;

